<div class="container">
    <div class="row">
      <div class="col-md-4" >
        <ul class="list-group nav" >
          <div class="list-group-item" ng-repeat='recipe in recipes | orderBy:"-date" | limitTo: "8"'>
            <a ui-sref-active="active" ui-sref="allrecipes.recipe({ recipeId: recipe._id })">{{ recipe.title }}</a>
            <span ng-click="delete(recipe._id)" class='glyphicon glyphicon-remove'></span>
          </div>
        </ul>
      </div>
      <div ui-view></div>
    </div>
</div>