<!-- <div id="custom-search-input" ng-controller = "searchController">
  <div class="row">
    <div class = "col-md-8 col-md-offset-2">
      <label>What are you in the mood for?</label>
    </div>
  </div>
  <div class="row">
    <div class="input-group col-md-8 col-md-offset-2">
        <input type="text" class="form-control input-lg" placeholder="Enter keyword to search from your recipes" ng-model="keyword" required/>
        <span class="input-group-btn">
            <button ng-click="getAllRecipes()" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
  </div>
</div>
 -->

<div class="col-md-8 col-md-offset-2" id='all'>
  <div class="panel panel-default">
    <div class="panel-heading" >
      <h1 class="panel-title">{{ random.title }}</h1>
    </div>
    <div class="panel-body flex-grow"><strong>Ingredients</strong><br/>{{ random.ingredients }}</div>
    <hr>
    <div class="panel-body flex-grow"><strong>Directions</strong><br/>{{ random.directions }}</div>
</div>


